.header{
    max-height: 65px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 1px 8px #888888;
    position: relative;
    z-index: 3;
    opacity: 0.9;
    max-width: 100%;
    min-height: 65px;
}
.header.header--scrolled {
    position: fixed;
    background: #c6d6f3;
}
.header__brandingLogo{
    border-radius: 50%;
    background: #ffffff;
    width: 57px;
    height: 57px;
    position: relative;
    display: inline-flex;
    justify-content: center;
    margin: 4px;
    align-items: center;
}

.header__brandImg{
    min-width: 63px;
    max-height: 63px;
}

.header__usrProfile{
    display: inline-flex;
    align-items: center;
}

.header__avatar.material-icons{
    color: #1a1a1a;
    font-size: 40px;
}

.header__languageSelectorImg{
    width: 30px;
}
.header__languageSelectorBox{
    padding-right: 15px;
}

/*Desktop CSS*/
@media (min-width:769px) {
    .header{
        min-height: 85px;
        max-height: 85px;
    }

    .header__brandingLogo{
        width: 77px;
        height: 77px;
    }

    .header__brandImg{
        min-width: 65px;
        max-height: 65px;
    }
    .container {
        padding: 0 30px;
    }
    .header__languageSelectorBox{
        padding-right: 30px;
    }

    .header__avatar.material-icons {
        font-size: 55px;
    }

}