<app-header></app-header>

<div class="mainBanner">
  <div class="mainBanner__bannerContainer custom--shadow mainBanner__slider">
    <div class="mainBanner__sliderItem">
      <img class="mainBanner__bannerImg" src="assets/images/operaHouse.jpeg">
      <!-- <div class="mainBanner__content container">
        <h1 class="h1 mainBanner__title mainBanner--titleStyle" tabindex="0"  >Best Flying Experience</h1>
        <p class="mainBanner__subTitle" tabindex="0" >Come Experience the best flying experience.</p>
      </div> -->
    </div>
    
    <div class="mainBanner__sliderItem">
      <img class="mainBanner__bannerImg" src="assets/images/harbourBridge.jpeg">
      <!-- <div class="mainBanner__content container">
        <h1 class="h1 mainBanner__title mainBanner--titleStyle" tabindex="0"  >Best Flying Experience</h1>
        <p class="mainBanner__subTitle" tabindex="0" >Come Experience the best flying experience.</p>
      </div> -->
    </div>

    <div class="mainBanner__sliderItem">
      <img class="mainBanner__bannerImg" src="assets/images/955980144Mumbai_Gateway_India_Main.jpeg">
      <!-- <div class="mainBanner__content container">
        <h1 class="h1 mainBanner__title mainBanner--titleStyle" tabindex="0"  >Best Flying Experience</h1>
        <p class="mainBanner__subTitle" tabindex="0" >Come Experience the best flying experience.</p>
      </div> -->
    </div>

    <div class="mainBanner__sliderItem">
      <img class="mainBanner__bannerImg" src="assets/images/1200px-Bavaria_2.jpeg">
      <!-- <div class="mainBanner__content container">
        <h1 class="h1 mainBanner__title mainBanner--titleStyle" tabindex="0"  >Best Flying Experience</h1>
        <p class="mainBanner__subTitle" tabindex="0" >Come Experience the best flying experience.</p>
      </div> -->
    </div>
    

  </div>
</div>


<!-- <div class="sliderTeaser container">
  <div class="sliderTeaser__box custom--shadow">
    <div class="sliderTeaser__teaserItem sliderTeaser--hotels">
        <div class="sliderTeaser__teaserItemBox">
          <i class="sliderTeaser__itemAvatar small material-icons">hotel</i>
          <p class="bookingWidget__itemText m-0 text-center" tabindex="0" >Hotels</p>
        </div>
    </div>
    <div class="sliderTeaser__teaserItem sliderTeaser--hotels">
        <div class="sliderTeaser__teaserItemBox">
          <i class="sliderTeaser__itemAvatar small material-icons">directions_car</i>
          <p class="bookingWidget__itemText m-0 text-center" tabindex="0" >Cars</p>
        </div>
    </div>
    <div class="sliderTeaser__teaserItem sliderTeaser--hotels">
        <div class="sliderTeaser__teaserItemBox">
          <i class="sliderTeaser__itemAvatar small material-icons">beach_access</i>
          <p class="bookingWidget__itemText m-0 text-center" tabindex="0" >Vacation</p>
        </div>
    </div>
    <div class="sliderTeaser__teaserItem sliderTeaser--hotels">
        <div class="sliderTeaser__teaserItemBox">
          <i class="sliderTeaser__itemAvatar small material-icons">directions_bus</i>
          <p class="bookingWidget__itemText m-0 text-center" tabindex="0" >Airport Bus</p>
        </div>
    </div>

    <div class="sliderTeaser__teaserItem sliderTeaser--hotels">
        <div class="sliderTeaser__teaserItemBox">
          <i class="sliderTeaser__itemAvatar small material-icons">thumb_up</i>
          <p class="bookingWidget__itemText m-0 text-center" tabindex="0" >Greet</p>
        </div>
    </div>
    <div class="sliderTeaser__teaserItem sliderTeaser--hotels">
        <div class="sliderTeaser__teaserItemBox">
          <i class="sliderTeaser__itemAvatar small material-icons">insert_emoticon</i>
          <p class="bookingWidget__itemText m-0 text-center" tabindex="0" >Driver</p>
        </div>
    </div>
    

  </div>
</div> -->

<div class="map">
  <div class="map__box container row">

    <div class="map__content col-7">
      <p class="map__text text-black" tabindex="0">
        See some beautiful cities on the globe
      </p>
      <button class="map_getOffer btn btn-light" (click)="gotoGlobe()">
        Goto Globe
      </button>
    </div>

    <div class="map__globeImgbox col-5">
      <img class="map__img" src="assets/images/rotatingGif.gif">
    </div>

  </div>
  
</div>

<!-- <div class="testSlick">
  <div> Slide 1</div>
  <div>Slide 2</div>
  <div> Slide 3</div>
</div> -->


<p>
  
  <!-- <a class="waves-effect waves-light btn" (click)="genAuthtoken()">Generate AuthToken</a> -->
  <!-- <a class="waves-effect waves-light btn" (click)="getOffers()">getOffers</a> -->
</p>
